<footer>
	<div class="container">
		<div class="foot_line">
			<div class="about">
				<div class="about_report">
					<div class="about_message">合作</div>
				</div>
				<div class="about_line">
					<div class="about_list"><a href="javascript:void(0)">关于我们</a></div>
					<div class="about_list"><a href="javascript:void(0)">联系我们</a></div>
					<div class="about_list about_last"><a href="javascript:void(0)">用户协议</a></div>
				</div>
				
				<div class="about_report">
					<div class="about_message">服务</div>
				</div>
				<div class="about_line">
					<div class="about_list">数据抓取</div>
					<div class="about_list">分析报告</div>
					<div class="about_list about_last">网站、APP、小程序制作</div>
				</div>
				<div class="about_line">
					<div class="about_list">技能培训</div>
					<div class="about_list">数据处理程序</div>
					<div class="about_list about_last">知识分享</div>
				</div>

				<div class="about_report">
					<div class="report_list">
						<i class="icon-jubao iconfont"></i>
						<a href="http://www.12377.cn/">中国互联网举报中心</a>
						<a href="http://www.bjjubao.org/">北京互联网举报中心</a>
					</div>
				</div>
			</div>
			<div class="about">
				
				<div class="about_report">
					<div class="web_logo">
						<img src="/media/img/cosdata_log.png">
					</div>
				</div>
				<div class="about_report">
					<div class="web_tag">观之数静  知以律动</div>
				</div>
			</div>
			<div class="contact">
				<div class="contact_list">
					<div class="contact_name">官方微信</div>
					<div class="contact_img"><img src="/media/img/weixin.jpg"></div>
				</div>
				<div class="contact_list">
					<div class="contact_name">官方微博</div>
					<div class="contact_img"><img src="/media/img/weibo.jpg"></div>
				</div>
			</div>
		</div>
		
		<div class="copyright">Copyright © 2019-2020 cosdata. 保留所有权利</div>
	</div>
	
</footer>	