<div class="head2">
    <div class="container">
    	<!-- <a href="/"><div class="head2_list">首页</div></a> -->
        <a href="{% url 'public:category' '数据思维' %}"><div class="head2_list siwei">数据思维</div></a>
    	<a href="{% url 'public:category' '数据获取' %}"><div class="head2_list huoqu">数据获取</div></a>
    	<a href="{% url 'public:category' '数据处理' %}"><div class="head2_list chuli">数据处理</div></a>
    	<a href="{% url 'public:category' '数据分析' %}"><div class="head2_list fenxi">数据分析</div></a>
    	<a href="{% url 'public:category' '数据可视化' %}"><div class="head2_list keshihua">数据可视化</div></a>
    	<a href="{% url 'public:category' '数据报告' %}"><div class="head2_list baogao">数据报告</div></a>
    	<a href="{% url 'public:category' '人工智能' %}"><div class="head2_list zhineng">人工智能</div></a>
        <a href="{% url 'public:category' '面试题' %}"><div class="head2_list mianshi">面试题</div></a>
        <a href="{% url 'public:category' '其他' %}"><div class="head2_list qita">其他</div></a>
    </div>
    
</div>
