<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>文章列表</title>
    <link rel="shortcut icon" type="image/ico" href="/media/img/favicon.ico">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1469429_f0jv6z88c8p.css">
    <link rel="stylesheet" type="text/css" href="/static/css/head.css">
    <link rel="stylesheet" type="text/css" href="/static/css/foot.css">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <link rel="stylesheet" type="text/css" href="/static/css/banner.css">
</head>
<body>
	<a id="scrollup" href="#top">^</a>
    {% include 'head.html' %}
	<div class="main">
	    <div class="box1_back" style="background-image: url(/media/img/111.jpg);"></div>
	    {% include 'head2.html' %}
	    <div class="box2_back">
	        <div class="container">
	            <div class="banner_box">
	                <div class="banner_group" id="banner_group">
	                    <ul id="banner_ul">
	                        <li>
	                            <div class="banner_title">第一章轮播图的标题</div>
	                            <a href="javascript:void(0)">
	                                <img src="/media/img/banner_1.jpg">
	                            </a>
	                        </li>
	                        <li>
	                            <div class="banner_title">第二章轮播图的标题</div>
	                            <a href="javascript:void(0)">
	                                <img src="/media/img/banner_2.jpg">
	                            </a>
	                        </li>
	                        <li>
	                            <div class="banner_title">第三章轮播图的标题</div>
	                            <a href="javascript:void(0)">
	                                <img src="/media/img/banner_3.jpg">
	                            </a>
	                        </li>
	                        <li>
	                            <div class="banner_title">第四章轮播图的标题</div>
	                            <a href="javascript:void(0)">
	                                <img src="/media/img/banner_4.jpg">
	                            </a>
	                        </li>
	                        <li>
	                            <div class="banner_title">第五章轮播图的标题</div>
	                            <a href="javascript:void(0)">
	                                <img src="/media/img/banner_5.jpg">
	                            </a>

	                        </li>
	                    </ul>
	                    <span class="arrow left_arrow"><i class="icon-shangyiye iconfont"></i></span>
	                    <span class="arrow right_arrow"><i class="icon-xiayiye iconfont"></i></span>
	                    <div class="page_control_group">
	                        <div class="page_box">
	                            <div id="page_control">
	                                <li></li>
	                                <li></li>
	                                <li></li>
	                                <li></li>
	                                <li></li>
	                            </div>
	                        </div>
	                        
	                    </div>
	                </div>
	                
	            </div>
	            <div class="recommend_box">
	                <div class="recommned_list">
	                    <a href="http://127.0.0.1:8000/article/1/">
	                        <img src="/media/img/box2_img_4.jpg">
	                        <div class="shelter"></div>
	                        <div class="recommend_data">梁宁：成功不是干出来的，是活出来的</div>
	                    </a>
	                </div>
	                <div class="recommned_list">
	                    <a href="http://127.0.0.1:8000/article/1/">
	                        <img src="/media/img/box2_img_4.jpg">
	                        <div class="shelter"></div>
	                        <div class="recommend_data">梁宁：成功不是干出来的，是活出来的</div>
	                    </a>
	                </div>
	                <div class="recommned_list">
	                    <a href="http://127.0.0.1:8000/article/1/">
	                        <img src="/media/img/box2_img_4.jpg">
	                        <div class="shelter"></div>
	                        <div class="recommend_data">梁宁：成功不是干出来的，是活出来的</div>
	                    </a>
	                </div>
	                <div class="recommned_list">
	                    <a href="http://127.0.0.1:8000/article/1/">
	                        <img src="/media/img/box2_img_4.jpg">
	                        <div class="shelter"></div>
	                        <div class="recommend_data">梁宁：成功不是干出来的，是活出来的</div>
	                    </a>
	                </div>
	                <div class="recommned_list">
	                    <a href="http://127.0.0.1:8000/article/1/">
	                        <img src="/media/img/box2_img_4.jpg">
	                        <div class="shelter"></div>
	                        <div class="recommend_data">梁宁：成功不是干出来的，是活出来的</div>
	                    </a>
	                </div>
	                <div class="recommned_list">
	                    <a href="http://127.0.0.1:8000/article/1/">
	                        <img src="/media/img/box2_img_4.jpg">
	                        <div class="shelter"></div>
	                        <div class="recommend_data">梁宁：成功不是干出来的，是活出来的</div>
	                    </a>
	                </div>
	            </div>

	            
	            
	        </div>
	    </div>
	    <div class="box2_back">
	        <div class="container">
	            <div class="home_recommend">
	                <a href="#"><img src="/media/img/banner_1.jpg"></a>
	            </div>
	        </div>
	    </div>
	    <div class="box2_back">
	        <div class="container">
	            <div class="main_box2">

	                
	                <div class="box2_top"><i class="icon-tuijian1 iconfont"></i>热门推荐</div>
	                <div class="box2_bot">
	                    <ul class="bot_ul">
	                        <li>
	                            <div class="li_img">
	                                <a href="http://127.0.0.1:8000/article/1/"><img src="/media/img/box2_img_1.jpg"></a>
	                            </div>
	                            <div class="li_title">
	                                <a href="http://127.0.0.1:8000/article/1/" class="li_title"><p>梁宁：成功不是干出来的，是活出来的</p></a>
	                                <a href="http://127.0.0.1:8000/article/1/" class="li_title"><i class="icon-UPzhu iconfont"></i><p>cosdata</p></a>
	                            </div>  
	                        </li>  
	                        <li>
	                            <div class="li_img">
	                                <a href="http://127.0.0.1:8000/article/2/"><img src="/media/img/box2_img_2.jpg"></a>
	                            </div>
	                            <div class="li_title">
	                                <a href="http://127.0.0.1:8000/article/2/" class="li_title"><p>测试文章1</p></a>
	                                <a href="http://127.0.0.1:8000/article/1/" class="li_title"><i class="icon-UPzhu iconfont"></i><p>cosdata</p></a>
	                            </div>                                                           
	                        </li>
	                        <li>
	                            <div class="li_img">
	                                <a href="http://127.0.0.1:8000/article/3/"><img src="/media/img/box2_img_3.jpg"></a>
	                            </div>
	                            <div class="li_title">
	                                <a href="http://127.0.0.1:8000/article/3/" class="li_title"><p>测试文章2</p></a>
	                                <a href="http://127.0.0.1:8000/article/1/" class="li_title"><i class="icon-UPzhu iconfont"></i><p>cosdata</p></a>
	                            </div> 
	                        </li>
	                        <li>
	                            <div class="li_img">
	                                <a href="javascript:void(0)"><img src="/media/img/box2_img_4.jpg"></a>
	                            </div>
	                            <div class="li_title">
	                                <a href="javascript:void(0)" class="li_title"><p>中产到年轻人，日本到全球，三得利破圈之道</p></a>
	                                <a href="http://127.0.0.1:8000/article/1/" class="li_title"><i class="icon-UPzhu iconfont"></i><p>cosdata</p></a>
	                            </div>
	                        </li>
	                        <li>
	                            <div class="li_img">
	                                <a href="javascript:void(0)"><img src="/media/img/box2_img_4.jpg"></a>
	                            </div>
	                            <div class="li_title">
	                                <a href="javascript:void(0)" class="li_title"><p>中产到年轻人，日本到全球，三得利破圈之道</p></a>
	                                <a href="http://127.0.0.1:8000/article/1/" class="li_title"><i class="icon-UPzhu iconfont"></i><p>cosdata</p></a>
	                            </div>
	                        </li>
	                        <li>
	                            <div class="li_img">
	                                <a href="http://127.0.0.1:8000/article/3/"><img src="/media/img/box2_img_3.jpg"></a>
	                            </div>
	                            <div class="li_title">
	                                <a href="http://127.0.0.1:8000/article/3/" class="li_title"><p>测试文章2</p></a>
	                                <a href="http://127.0.0.1:8000/article/1/" class="li_title"><i class="icon-UPzhu iconfont"></i><p>cosdata</p></a>
	                            </div> 
	                        </li>
	                        <li>
	                            <div class="li_img">
	                                <a href="javascript:void(0)"><img src="/media/img/box2_img_4.jpg"></a>
	                            </div>
	                            <div class="li_title">
	                                <a href="javascript:void(0)" class="li_title"><p>中产到年轻人，日本到全球，三得利破圈之道</p></a>
	                                <a href="http://127.0.0.1:8000/article/1/" class="li_title"><i class="icon-UPzhu iconfont"></i><p>cosdata</p></a>
	                            </div>
	                        </li>
	                        <li>
	                            <div class="li_img">
	                                <a href="javascript:void(0)"><img src="/media/img/box2_img_4.jpg"></a>
	                            </div>
	                            <div class="li_title">
	                                <a href="javascript:void(0)" class="li_title"><p>中产到年轻人，日本到全球，三得利破圈之道</p></a>
	                                <a href="http://127.0.0.1:8000/article/1/" class="li_title"><i class="icon-UPzhu iconfont"></i><p>cosdata</p></a>
	                            </div>
	                        </li>
	                    </ul>
	                </div>
	                               
	            </div>
	            <div class="main_box2_news">
	                <div class="news_tag"><i class="icon-hot iconfont"></i>热门排行</div>
	                <div class="news_content">
	                    <div class="new_list"><a href="#"><span class="new_tag"></span><p>第一条资讯标题，可以盛放18条</p></a></div>
	                    <div class="new_list"><a href="#"><span class="new_tag"></span><p>第一条资讯标题</p></a></div>
	                    <div class="new_list"><a href="#"><span class="new_tag"></span><p>第一条资讯标题</p></a></div>
	                    <div class="new_list"><a href="#"><span class="new_tag"></span><p>第一条资讯标题</p></a></div>
	                    <div class="new_list"><a href="#"><span class="new_tag"></span><p>第一条资讯标题</p></a></div>
	                    <div class="new_list"><a href="#"><span class="new_tag"></span><p>第一条资讯标题</p></a></div>
	                    <div class="new_list"><a href="#"><span class="new_tag"></span><p>第一条资讯标题</p></a></div>
	                    <div class="new_list"><a href="#"><span class="new_tag"></span><p>第一条资讯标题</p></a></div>
	                    <div class="new_list"><a href="#"><span class="new_tag"></span><p>第一条资讯标题</p></a></div>
	                    <div class="new_list"><a href="#"><span class="new_tag"></span><p>第一条资讯标题</p></a></div>
	                    <!-- <a href="#"><div class="more">查看更多></div></a> -->
	                </div>
	               
	            </div>
	        </div>
	    </div>
	    <div class="box2_back">
	        <div class="container">
	            <div class="news_tag"><i class="icon-gengxin iconfont"></i>最近更新</div>
	            <div class="main_box4">
	                <div class="update_list update_table">
	                    <div class="update_category update">分类</div>
	                    <div class="update_anthology update">文选</div>
	                    <div class="update_title update">标题</div>
	                    <div class="update_author update">作者</div>
	                    <div class="update_time update">更新时间</div>
	                </div>
	                <div class="update_list">
	                    <a href="#"><div class="update_category update">数据分析</div></a>
	                    <a href="#"><div class="update_anthology update">默认</div></a>
	                    <a href="#"><div class="update_title update">我是测试标题</div></a>
	                    <a href="#"><div class="update_author update">cosdata</div></a>
	                    <div class="update_time update">2019/12/13 15:22:44</div>
	                </div>
	                <div class="update_list">
	                    <a href="#"><div class="update_category update">数据分析</div></a>
	                    <a href="#"><div class="update_anthology update">默认</div></a>
	                    <a href="#"><div class="update_title update">我是测试标题</div></a>
	                    <a href="#"><div class="update_author update">cosdata</div></a>
	                    <div class="update_time update">2019/12/13 15:22:44</div>
	                </div>
	                <div class="update_list">
	                    <a href="#"><div class="update_category update">数据分析</div></a>
	                    <a href="#"><div class="update_anthology update">默认</div></a>
	                    <a href="#"><div class="update_title update">我是测试标题</div></a>
	                    <a href="#"><div class="update_author update">cosdata</div></a>
	                    <div class="update_time update">2019/12/13 15:22:44</div>
	                </div>
	                <div class="update_list">
	                    <a href="#"><div class="update_category update">数据分析</div></a>
	                    <a href="#"><div class="update_anthology update">默认</div></a>
	                    <a href="#"><div class="update_title update">我是测试标题</div></a>
	                    <a href="#"><div class="update_author update">cosdata</div></a>
	                    <div class="update_time update">2019/12/13 15:22:44</div>
	                </div>
	                <div class="update_list">
	                    <a href="#"><div class="update_category update">数据分析</div></a>
	                    <a href="#"><div class="update_anthology update">默认</div></a>
	                    <a href="#"><div class="update_title update">我是测试标题</div></a>
	                    <a href="#"><div class="update_author update">cosdata</div></a>
	                    <div class="update_time update">2019/12/13 15:22:44</div>
	                </div>
	                <div class="update_list">
	                    <a href="#"><div class="update_category update">数据分析</div></a>
	                    <a href="#"><div class="update_anthology update">默认</div></a>
	                    <a href="#"><div class="update_title update">我是测试标题</div></a>
	                    <a href="#"><div class="update_author update">cosdata</div></a>
	                    <div class="update_time update">2019/12/13 15:22:44</div>
	                </div>
	                <div class="update_list">
	                    <a href="#"><div class="update_category update">数据分析</div></a>
	                    <a href="#"><div class="update_anthology update">默认</div></a>
	                    <a href="#"><div class="update_title update">我是测试标题</div></a>
	                    <a href="#"><div class="update_author update">cosdata</div></a>
	                    <div class="update_time update">2019/12/13 15:22:44</div>
	                </div>
	                <div class="update_list">
	                    <a href="#"><div class="update_category update">数据分析</div></a>
	                    <a href="#"><div class="update_anthology update">默认</div></a>
	                    <a href="#"><div class="update_title update">我是测试标题</div></a>
	                    <a href="#"><div class="update_author update">cosdata</div></a>
	                    <div class="update_time update">2019/12/13 15:22:44</div>
	                </div>
	               
	            </div>

	        </div>
	    </div>

	</div>
	{% include 'foot.html' %}


    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/pop.js"></script>
    <script src="/static/js/banner.js"></script>
    <script src="/static/js/home.js"></script>

</body>
</html>