<!DOCTYPE html>
<html style="scrollbar-base-color:red;">
{% load staticfiles %}
<head>
	<title>消息中心</title>
	<link rel="shortcut icon" type="image/ico" href="/media/img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/static/css/head.css">
	<link rel="stylesheet" type="text/css" href="/static/css/login.css">
	<link rel="stylesheet" type="text/css" href="/static/css/cms.css">
	<link rel="stylesheet" href="//at.alicdn.com/t/font_1469429_wij6hl9p3n.css">
</head>
<body>
	<a id="scrollup" href="#top">^</a>
	{% include 'head.html' %}
	<div class="cms_box">
		<div class="container">
			{% include 'cms_left.html' %}
			<!-- 标题、封面、所属集合、 -->
			<div class="cms_right">
				<div class="right_title">
					<!-- <div class="right_titile_inner">私信人的名字</div> -->
				</div>
				<div class="right_content">
					<div class="message_left">
						<!-- <div class="message_left_head">最近消息</div> -->
						<div class="message_list active">
							<div class="message_list_left">
								<img src="/media/img/user_head.jpg">
							</div>
							<div class="message_list_right">
								<div class="chat_user">
									<div class="chat_username">淑芬</div>
									<div class="chat_time">2020/03/27</div>
								</div>
								<div class="chat_last_content">晚安</div>
							</div>
						</div>
						<div class="message_list">
							<div class="message_list_left">
								<img src="/media/img/user_head.jpg">
							</div>
							<div class="message_list_right">
								<div class="chat_user">
									<div class="chat_username">淑芬</div>
									<div class="chat_time">2020/03/27</div>
								</div>
								<div class="chat_last_content">晚安</div>
							</div>
						</div>
						<div class="message_list">
							<div class="message_list_left">
								<img src="/media/img/user_head.jpg">
							</div>
							<div class="message_list_right">
								<div class="chat_user">
									<div class="chat_username">淑芬</div>
									<div class="chat_time">2020/03/27</div>
								</div>
								<div class="chat_last_content">晚安</div>
							</div>
						</div>
						<div class="message_list">
							<div class="message_list_left">
								<img src="/media/img/user_head.jpg">
							</div>
							<div class="message_list_right">
								<div class="chat_user">
									<div class="chat_username">淑芬</div>
									<div class="chat_time">2020/03/27</div>
								</div>
								<div class="chat_last_content">晚安</div>
							</div>
						</div>
						<div class="message_list">
							<div class="message_list_left">
								<img src="/media/img/user_head.jpg">
							</div>
							<div class="message_list_right">
								<div class="chat_user">
									<div class="chat_username">淑芬</div>
									<div class="chat_time">2020/03/27</div>
								</div>
								<div class="chat_last_content">晚安</div>
							</div>
						</div>
						<div class="message_list">
							<div class="message_list_left">
								<img src="/media/img/user_head.jpg">
							</div>
							<div class="message_list_right">
								<div class="chat_user">
									<div class="chat_username">淑芬</div>
									<div class="chat_time">2020/03/27</div>
								</div>
								<div class="chat_last_content">晚安</div>
							</div>
						</div>
						<div class="message_list">
							<div class="message_list_left">
								<img src="/media/img/user_head.jpg">
							</div>
							<div class="message_list_right">
								<div class="chat_user">
									<div class="chat_username">淑芬</div>
									<div class="chat_time">2020/03/27</div>
								</div>
								<div class="chat_last_content">晚安</div>
							</div>
						</div>
						<div class="message_list">
							<div class="message_list_left">
								<img src="/media/img/user_head.jpg">
							</div>
							<div class="message_list_right">
								<div class="chat_user">
									<div class="chat_username">淑芬</div>
									<div class="chat_time">2020/03/27</div>
								</div>
								<div class="chat_last_content">晚安</div>
							</div>
						</div><div class="message_list">
							<div class="message_list_left">
								<img src="/media/img/user_head.jpg">
							</div>
							<div class="message_list_right">
								<div class="chat_user">
									<div class="chat_username">淑芬</div>
									<div class="chat_time">2020/03/27</div>
								</div>
								<div class="chat_last_content">晚安</div>
							</div>
						</div>
						

					</div>
					<div class="message_right">
						<div class="message_right_top">
							<div class="chatshow_list">
								<div class="chat_list">
									<div class="chat_head"><img src="/media/img/user_head.jpg"></div>
									<div class="chat_text">我是测试数据</div>
								</div>
								<div class="chat_list">
									<div class="chat_head"><img src="/media/img/user_head.jpg"></div>
									<div class="chat_text">我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据</div>
								</div>
								<div class="chat_list active">
									<div class="chat_head"><img src="/media/img/user_head.jpg"></div>
									<div class="chat_text">我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据</div>
								</div>
								<div class="chat_list">
									<div class="chat_head"><img src="/media/img/user_head.jpg"></div>
									<div class="chat_text">我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据我是测试数据</div>
								</div>
							</div>
						</div>
						<div class="message_right_bottom">
							<form action="{% url 'personal_center:anthology_create' %}" method="post" id="anthology_form" enctype="multipart/form-data">
								{% csrf_token %}	
								<textarea id="chat_content" name="chat_content" rows="3" placeholder="回复一下吧~" required="required"  maxlength="500"></textarea>
								<button type="submit">发送</button>
							</form>
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
	</div>



	<script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/pop.js"></script>
    <script src="/static/js/cms.js"></script>
</body>
</html>