<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>搜索</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1469429_ciwydbdsktu.css">
    <link rel="stylesheet" type="text/css" href="/static/css/head.css">
    <link rel="shortcut icon" type="image/ico" href="/media/img/favicon.ico">
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/home.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <link rel="stylesheet" type="text/css" href="/static/css/search.css">
</head>
<body>
    <a id="scrollup" href="#top">^</a>
    {% include 'head.html' %}
    <div class="search_box">
        <div class="container">
            <div class="search_result">
                <div class="search_word">
                    <i class="icon-xiayihuanjie iconfont"></i>
                    搜索：<span>{{ search_words }}</span> , 共找到 <span>{{ search_atticles_count }}</span> 篇文章
                </div>
                <div class="article_list">
                    {% for article in page_of_articles %}
                        <div class="article_box">
                            <div class="article_img">
                                <a href="{% url 'article:article_detail' article.pk %}"><img src="/media/{{ article.article_cover }}"></a>
                            </div>
                            
                            <div class="article_detail">
                                <div class="article_title"><a href="{% url 'article:article_detail' article.pk %}">{{ article.article_title }}</a></div>
                                <div class="article_content"><a href="{% url 'article:article_detail' article.pk %}">{{ article.content | striptags | truncatechars_html:120 }}……</a></div>
                                <div class="article_data">
                                    <a href="{% url 'personal_center:public_author_anthologys'  article.author.pk %}">
                                        <div class="data_list">
                                            <i class="icon-wode iconfont"></i>
                                            <p>{{ article.author.username }}</p>
                                        </div>
                                    </a>

                                    <!-- <a href="javascript:void(0)"> -->
                                    <div class="data_list">
                                        <i class="icon-time1 iconfont"></i>
                                        <p>{{ article.created_time|date:"Y/m/d H:i:s" }}</p>
                                    </div>
                                    <!-- </a> -->
                                    
                                    
                                </div>
                            </div>
                        </div>
                        
                    {% empty %}
                        <div class="empty">无相关文章</div>
                    {% endfor %}
                </div>
                <!-- 分页器 -->
                <div class="page_cut_box">
                    <!-- 判断是否有上一页 -->
                    {% if page_of_articles.has_previous %}
                        <a href="?search={{ search_words }}&page={{ page_of_articles.previous_page_number }}"><div class="page_num_list pre_or_next">上一页</div></a> 
                    {% else %}
                        <a href="javascript:void(0)"><div class="page_num_list pre_or_next">上一页</div></a>
                    {% endif %}
                    
                    {% if left_has_more %}
                        <a href="?search={{ search_words }}&page=1"><div class="page_num_list">1</div></a> 
                        <a href="javascript:void(0)"><div class="page_num_list">...</div></a> 
                    {% endif %}

                    {% for left_page in left_pages %}
                        <a href="?search={{ search_words }}&page={{ left_page }}"><div class="page_num_list">{{ left_page }}</div></a> 
                        
                    {% endfor %}

                    <a href="javascript:void(0)"><div class="page_num_list active">{{ current_page }}</div></a>

                    {% for right_page in right_pages %}
                        <a href="?search={{ search_words }}&page={{ right_page }}"><div class="page_num_list">{{ right_page }}</div></a> 
                        
                    {% endfor %}

                    {% if right_has_more %}
                        <a href="javascript:void(0)"><div class="page_num_list">...</div></a> 
                        <a href="?search={{ search_words }}&page={{ num_pages }}"><div class="page_num_list">{{ num_pages }}</div></a> 
                        
                    {% endif %}

                    <!-- 判断是否有下一页 -->
                    {% if page_of_articles.has_next %}
                        <a href="?search={{ search_words }}&page={{ page_of_articles.next_page_number }}"><div class="page_num_list pre_or_next">下一页</div></a> 
                    {% else %}
                        <a href="javascript:void(0)"><div class="page_num_list pre_or_next">下一页</div></a>
                    {% endif %}
                    
                </div>

                
            </div>
            <div class="main_box2_news">
                <div class="news_tag"><i class="icon-hot iconfont"></i>热门排行</div>
                <div class="news_content">
                    {% for hot_article in hot_articles %}
                        <div class="new_list"><a href="{% url 'article:article_detail' hot_article.pk %}"><span class="new_tag"></span><p>{{ hot_article.article_title }}</p></a></div>
                    {% endfor %}
                    <!-- <a href="#"><div class="more">查看更多></div></a> -->
                </div>
               
            </div>
            

            
        </div>

    </div>     
    




    <script src="/static/js/jquery.min.js"></script>
    <!-- <script src="/static/js/banner.js"></script> -->

    <script src="/static/js/pop.js"></script>
    <script src="/static/js/home.js"></script>
</body>
</html>