<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>数据服务</title>
    <link rel="shortcut icon" type="image/ico" href="/media/img/favicon.ico">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1469429_icm6qq7iyy.css">
    <link rel="stylesheet" type="text/css" href="/static/css/head.css">
    <link rel="stylesheet" type="text/css" href="/static/css/foot.css">
    <link rel="stylesheet" type="text/css" href="/static/css/service.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/home.css"> -->
</head>
<body>
	<a id="scrollup" href="#top">^</a>
    {% include 'head.html' %}
    <div class="head3">
        <div class="container">
            <a href="{% url 'public:service_intelligence' %}"><div class="head3_list">舆情大数据</div></a>
            <a href="{% url 'public:service_company' %}"><div class="head3_list active">企业大数据</div></a>
            <a href="{% url 'public:service_government' %}"><div class="head3_list">政务大数据</div></a>
            <a href="{% url 'public:service_media' %}"><div class="head3_list">融媒体</div></a>
        </div>
        
    </div>
	<div class="main">
	    <div class="container">
	    	<div class="service_list">
	    		<img src="/media/img/service_img3.jpg">
	    		<div class="service_left_text">
	    			<div class="text1">企业大数据</div>
	    			<div class="text2">依托大数据、人工智能技术，对数据进行深度采集，挖掘分析，应用展示，实现全生命周期的数据管理体系，并对海量的多源异构数据进行整合处理，通过多级数据处理模型，从而能够更加高效地发挥大数据的真正价值，帮助客户做好数据资产管理，辅助商业决策。</div>
	    		</div>
	    	</div>
	    	<div class="service_list">
	    		<div class="service_top_text">
    				<div class="text3">服务概述</div>
    				<div class="text4">结合出色的大数据采集系统，对企业数据进行实时获取，出具包括但不限于日报、周报、月报、季报、年报、专项报告等在内的各种人工报告。同时提供后台数据可视化、危机实时预警、KOL评估、推广效果追踪、人群画像等在内的多项服务。</div>
    			</div>
    		</div>
            <div class="service_list">
                <img src="/media/img/service_img5.jpg">
            </div>
            <div class="service_list">
                <div class="service_top_text2">
                    <div class="text7">官方账号运营分析</div>
                    <img class="img6" src="/media/img/gs_img1.png">
                </div>
            </div>
            <div class="service_list">
                <div class="service_top_text2">
                    <div class="text7">危机预警及管理</div>
                    <img class="img6" src="/media/img/gs_img2.png">
                </div>
            </div>
            <div class="service_list">
                <div class="service_top_text2">
                    <div class="text7">营销活动分析</div>
                    <img class="img6" src="/media/img/gs_img3.png">
                </div>
            </div>
            <div class="service_list">
                <div class="service_top_text2">
                    <div class="text7">品牌全网口碑监控</div>
                    <img class="img6" src="/media/img/gs_img4.png">
                </div>
            </div>
            <div class="service_list">
                <div class="service_top_text2">
                    <div class="text7">KOL评估与优选</div>
                    <img class="img6" src="/media/img/gs_img5.png">
                </div>
            </div>
            <div class="service_list">
                <div class="service_top_text2">
                    <div class="text7">代言人评估</div>
                    <img class="img6" src="/media/img/gs_img6.png">
                </div>
            </div>
            <div class="service_list">
                <div class="service_top_text2">
                    <div class="text7">消费者人群分析</div>
                    <img class="img6" src="/media/img/gs_img7.png">
                </div>
            </div>
            <div class="service_list">
                <div class="service_top_text2">
                    <div class="text7">新品上市前研究</div>
                    <img class="img6" src="/media/img/gs_img8.png">
                </div>
            </div>
            <div class="service_list">
                <div class="service_top_text2">
                    <div class="text7">新品上市效果追踪</div>
                    <img class="img6" src="/media/img/gs_img9t.png">
                    <img class="img6" src="/media/img/gs_img9b.png">
                </div>
            </div>
            <div class="service_list">
                <div class="service_top_text2">
                    <div class="text7">竞品传播状态分析</div>
                    <img class="img6" src="/media/img/gs_img10.png">
                </div>
            </div>
            <div class="service_list">
                <div class="service_top_text2">
                    <div class="text7">竞品产品口碑追踪</div>
                    <img class="img6" src="/media/img/gs_img11.png">
                </div>
            </div>
            <div class="service_list">
                <div class="service_top_text2">
                    <div class="text7">H5传播效果分析</div>
                    <img class="img6" src="/media/img/gs_img12.png">
                </div>
            </div>
    		
    	</div>
    </div>
	</div>
	{% include 'foot.html' %}


    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/pop.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.head').find('.service').addClass('active');
        })


    </script>



</body>
</html>