<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>数据服务</title>
    <link rel="shortcut icon" type="image/ico" href="/media/img/favicon.ico">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1469429_icm6qq7iyy.css">
    <link rel="stylesheet" type="text/css" href="/static/css/head.css">
    <link rel="stylesheet" type="text/css" href="/static/css/foot.css">
    <link rel="stylesheet" type="text/css" href="/static/css/service.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/home.css"> -->
</head>
<body>
	<a id="scrollup" href="#top">^</a>
    {% include 'head.html' %}
    <div class="head3">
        <div class="container">
            <a href="{% url 'public:service_intelligence' %}"><div class="head3_list active">舆情大数据</div></a>
            <a href="{% url 'public:service_company' %}"><div class="head3_list">企业大数据</div></a>
            <a href="{% url 'public:service_government' %}"><div class="head3_list">政务大数据</div></a>
            <a href="{% url 'public:service_media' %}"><div class="head3_list">融媒体</div></a>
        </div>
        
    </div>
	<div class="main">
	    <div class="container">
	    	<div class="service_list">
	    		<img src="/media/img/service_img4.jpg">
	    		<div class="service_left_text">
	    			<div class="text1">舆情大数据</div>
	    			<div class="text2">助力客户构建私有的境内境外信息情报系统，实现境内境外舆情监测分析预警深度洞察数字营销活动、官微账户、关键单帖等的传播扩散效果。同时也为数字营销部门构建全流程精细化的投放把控体系。</div>
	    		</div>
	    	</div>
	    	<div class="service_list">
	    		<div class="service_top_text">
    				<div class="text3">服务概述</div>
    				<div class="text4">独家拥有境外社交媒体采集能力，提供Facebook、Twitter、Line、YouTube与境外各大门户论坛网站的舆情服务覆盖超过10个语种、100多个国家、及40000多家主流信息源/重点新闻网站。可根据客户的不同需求，按地域、族群、对象、事件、时序等多种维度持续进行数据采集、事件追踪、精准分析为政府、企业、媒体提供一站式的境外舆情服务。</div>
    			</div>
    		</div>
            <div class="service_list" style="background: #f5f6f7;">
                <img class="img5" src="/media/img/yq-img01.png">
                <div class="service_left_text2">
                    <div class="text5">境外社交舆情服务</div>
                    <div class="text6">提供Facebook、Twitter、Line、YouTube与境外各大门户论坛网站的舆情服务，全面覆盖超过10个语种、100多个国家。可根据客户的不同需求，按地域、族群、对象、事件、时序等多种维度持续进行数据采集、事件追踪、精准分析，为政府、企业、媒体提供一站式的境外舆情服务。</div>
                </div>
            </div>
            <div class="service_list">
                <img class="img5" src="/media/img/yq-img02.png">
                <div class="service_left_text3">
                    <div class="text5">境内全网舆情服务</div>
                    <div class="text6">采用我司研制的网络智能数据采集技术，通过对互联网海量信息进行采集分析，且定向覆盖40000多家主流信息源，包含门户、论坛、博客、社交、问答、电商、视频、新闻APP等平台，并支持各类媒体转发、点赞、阅读、评论数采集。</div>
                </div>
            </div>
            <div class="service_list" style="background: #f5f6f7;">
                <img class="img5" src="/media/img/yq-img03.png">
                <div class="service_left_text2">
                    <div class="text5">事件分析服务</div>
                    <div class="text6">按客户需求提供多维度的日报，周报，月报、专报。支持对作者，媒体，传播进行深度分析，支持xls和Web格式阅读，为客户掌握舆情动态，提供精准的分析依据。</div>
                </div>
            </div>
            <div class="service_list">
                <img class="img5" src="/media/img/yq-img04.png">
                <div class="service_left_text3">
                    <div class="text5">精准研判服务</div>
                    <div class="text6">通过传播价值评估体系，准确评估自身及竞品的投放价值，辅助优化投放策略。通过对标竞品的声量、口碑、传播价值、制订有效的竞争性的传播和营销策略。</div>
                </div>
            </div>
            <div class="service_list" style="background: #f5f6f7;">
                <img class="img5" src="/media/img/yq-img05.png">
                <div class="service_left_text2">
                    <div class="text5">智能分析服务</div>
                    <div class="text6">利用人工智能技术，通过情感分析系统、语义分析系统、NLP算法自动进行话题挖掘与分类，具有行业最领先的情感分析与智能分类算法，数据自动去噪和分类，并提供多维度智能仪表。</div>
                </div>
            </div>
            <div class="service_list">
                <img class="img5" src="/media/img/yq-img06.png">
                <div class="service_left_text3">
                    <div class="text5">多重预警服务</div>
                    <div class="text6">及时全面发现负面信息，持续跟踪分析舆论趋势，帮助企业减少损失。同时，支持邮件，APP，短信，电话等多种预警形式，第一时间舆情信息采用预先定义的形式，分发给相应责任人。</div>
                </div>
            </div>
    		
    	</div>
    </div>
	</div>
	{% include 'foot.html' %}


    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/pop.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.head').find('.service').addClass('active');
        })


    </script>



</body>
</html>