<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>数据服务</title>
    <link rel="shortcut icon" type="image/ico" href="/media/img/favicon.ico">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1469429_icm6qq7iyy.css">
    <link rel="stylesheet" type="text/css" href="/static/css/head.css">
    <link rel="stylesheet" type="text/css" href="/static/css/foot.css">
    <link rel="stylesheet" type="text/css" href="/static/css/service.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/home.css"> -->
</head>
<body>
	<a id="scrollup" href="#top">^</a>
    {% include 'head.html' %}
    <div class="head3">
        <div class="container">
            <a href="{% url 'public:service_intelligence' %}"><div class="head3_list">舆情大数据</div></a>
            <a href="{% url 'public:service_company' %}"><div class="head3_list">企业大数据</div></a>
            <a href="{% url 'public:service_government' %}"><div class="head3_list active">政务大数据</div></a>
            <a href="{% url 'public:service_media' %}"><div class="head3_list">融媒体</div></a>
        </div>
        
    </div>
	<div class="main">
	    <div class="container">
	    	<div class="service_list">
	    		<img src="/media/img/service_img1.jpg">
	    		<div class="service_left_text">
	    			<div class="text1">政务大数据</div>
	    			<div class="text2">利用大数据采集与人工智能技术，打通各个行业的数据服务，助力政府完成智慧决策。同时，根据不同的需求，中数经纬还为政府提供信息监测、全网事件分析、微博事件分析、定制简报、大屏指挥系统等在内的全方位舆情服务，帮助政府机构实现对社会热点话题、突发事件的快速发现、及时处置和正面引导。</div>
	    		</div>
	    	</div>
	    	<div class="service_list">
	    		<div class="service_top_text">
    				<div class="text3">方案概述</div>
    				<div class="text4">目前世界很多国家已把数据作为基数性战略资源加以发展，在政府行政体制改革、日常管理和公共服务领域中应用大数据已经成为创新发展理念的必然要求。随着智慧城市的不断发展和演进，近年来政府部门对数据大屏的需求越来越大，这些需求更是广泛应用在各个公共信息服务、公共安全、应急指挥、公共交通、教育医疗等各项工作中。</div>
    			</div>
    		</div>
    		<div class="service_list2">
    			<img class="img2" src="/media/img/service_img6.jpg">
    			<img class="img3" src="/media/img/service_img7.png">
    		</div>
    		<div class="service_list">
    			<div class="service_left"><img src="/media/img/icon-zf01.png"></div>
    			<div class="service_mid">公共安全</div>
    			<div class="service_right">在公共安全领域，通过融合包括公共安全的人口、警情、网吧、宾馆、交通、人脸、指纹等海量数据的挖掘分析，可以预测、发现人为或自然灾害、恐怖事件，提高情报研判、应急处理、案情侦破以及安全防范等能力，建设公共安全领域的大数据资源库，全面提升公共安全突发事件的监测预警、快速响应和高效打击犯罪等能力。</div>	
    		</div>
    		<div class="service_list">
    			<div class="service_left"><img src="/media/img/icon-zf02.png"></div>
    			<div class="service_mid">旅游大数据</div>
    			<div class="service_right">大数据正在驱动整个教育行业产业向智慧化、人性化与科学化多方面的大提升。通过整合学校、学生、教师、教材、知识、爱好、意愿等等多维教育资源数据，并做挖掘分析，可以更好地提高并优化教育资源，实现多种资源的融合、共享与利用，优化教学过程，提高教学质量，在学生管理、学校治理以及教育规划等多方面提升，实现智慧教育与智慧管理。</div>	
    		</div>
    		<div class="service_list">
    			<div class="service_left"><img src="/media/img/icon-zf03.png"></div>
    			<div class="service_mid">教育大数据</div>
    			<div class="service_right">在公共安全领域，通过融合包括公共安全的人口、警情、网吧、宾馆、交通、人脸、指纹等海量数据的挖掘分析，可以预测、发现人为或自然灾害、恐怖事件，提高情报研判、应急处理、案情侦破以及安全防范等能力，建设公共安全领域的大数据资源库，全面提升公共安全突发事件的监测预警、快速响应和高效打击犯罪等能力。</div>	
    		</div>
    		<div class="service_list">
    			<div class="service_left"><img src="/media/img/icon-zf04.png"></div>
    			<div class="service_mid">农业大数据</div>
    			<div class="service_right">农业大产业包括种植业、林业、牧业和渔业等相关产业。通过对农业相关数据的汇聚和大数据分析，如农民、耕地、雨水、阳光、气候、土壤、农作物品种、产量、品种等，能够全面及时掌握农业的发展动态和未来趋势，预测农产品的生产趋势与市场需求，指导政府进行激励措施、市场规划和农业政策制定等，推动传统的农业生产方式应向数据驱动的智慧化生产方式转变，不断推进农业经济的优化，实现可持续的农业产业发展和区域产业结构优化，推动智慧农业的建设进程。</div>	
    		</div>
    		<div class="service_list">
    			<div class="service_left"><img src="/media/img/icon-zf05.png"></div>
    			<div class="service_mid">医疗食品</div>
    			<div class="service_right">通过整合医疗、药品、食品检验、食品生产、气象和社交网络等相关数据，构建医疗食品大数据公共平台，为市民、医生、医院形成智能临床诊断、自主就医的创新模式，辅助政府及相关部门合理优化医疗资源配置，食品安全预警和食品溯源，帮助政府进行药品食品的安全与科学管理等。同时，大数据更可以辅助国家和医疗机构及早发现疫情和多发性疾病，提供流行病的预测、跟踪与分析，临床诊疗精细决策、疫情监测及处置等方面，以及提升药品食品的研发能力，提高医疗机构科学就诊、预测、跟踪和管理能力等，都大有可为。</div>	
    		</div>
    		<div class="service_list">
    			<div class="service_left"><img src="/media/img/icon-zf06.png"></div>
    			<div class="service_mid">公共交通</div>
    			<div class="service_right">在交通管理方面，通过整合道路交通、公共交通、对外交通以及私人交通等大数据，汇聚气象、环境、人口、车流，配合交通信息的实时挖掘，提供道路交通状况判别及预测，能有效缓解交通拥堵，并快速响应突发状况，科学辅助交通决策管理，实现智慧的道路、交通拥堵预警、疏散管理、公交监测、交通事故的应急调度、民众的交通信息查询等一系列智能管理，支撑智慧出行服务，为城市交通的良性运转提供科学的决策依据。</div>	
    		</div>
    	</div>
    </div>
	</div>
	{% include 'foot.html' %}


    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/pop.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.head').find('.service').addClass('active');
        })


    </script>



</body>
</html>