<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>数据服务</title>
    <link rel="shortcut icon" type="image/ico" href="/media/img/favicon.ico">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1469429_icm6qq7iyy.css">
    <link rel="stylesheet" type="text/css" href="/static/css/head.css">
    <link rel="stylesheet" type="text/css" href="/static/css/foot.css">
    <link rel="stylesheet" type="text/css" href="/static/css/service.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/home.css"> -->
</head>
<body>
	<a id="scrollup" href="#top">^</a>
    {% include 'head.html' %}
    <div class="head3">
        <div class="container">
            <a href="{% url 'public:service_intelligence' %}"><div class="head3_list">舆情大数据</div></a>
            <a href="{% url 'public:service_company' %}"><div class="head3_list">企业大数据</div></a>
            <a href="{% url 'public:service_government' %}"><div class="head3_list">政务大数据</div></a>
            <a href="{% url 'public:service_media' %}"><div class="head3_list active">融媒体</div></a>
        </div>
        
    </div>
	<div class="main">
	    <div class="container">
	    	<div class="service_list">
	    		<img src="/media/img/service_img2.jpg">
	    		<div class="service_left_text">
	    			<div class="text1">融媒体方略</div>
	    			<div class="text2">近几年随着互联网社交媒体的普及和发展，如何尽快打破传统媒体的经营思路，进行市场化改革是目前整个媒体行业遇到的难点。</div>
	    		</div>
	    	</div>
	    	<div class="service_list">
	    		<div class="service_top_text">
    				<div class="text3">方案概述</div>
    				<div class="text4">余弦智能采编平台，是基于大数据聚合驱动的多语种融媒体智能采编作业综合管理平台，以媒体融合为突破口、以内容创造和传播创新为根基的发展路线，是集舆情研判、线索发现、统一采集、创新生产、多元分发、效果评估和综合管理于一体的新型智能化媒体内容生产与管理平台。平台支持包括指挥中枢、PC端、移动端在内的所有采编终端，以闭环全流程驱动“索、策、采、编、发、评、管”领先模式。</div>
    			</div>
    		</div>
    		<div class="service_list">
    			<img class="img4"  src="/media/img/service_img8.jpg">
    		</div>
            <div class="service_list">
                <div class="service_left2"><img src="/media/img/cbpt_img01.png"></div>
                <div class="service_mid2">全球实时舆情跟踪子系统</div>
                <div class="service_right2">监测抓取境外主要媒体平台和境内全网舆情，覆盖传统媒体、新媒体平台，第一时间掌握舆情动态，获取新闻线索.</div>  
            </div>
            <div class="service_list">
                <div class="service_left2"><img src="/media/img/cbpt_img02.png"></div>
                <div class="service_mid2">原创选题系统</div>
                <div class="service_right2">全流程记录、分析、反馈每一位编辑记者的采编行为。</div>  
            </div>
            <div class="service_list">
                <div class="service_left2"><img src="/media/img/cbpt_img03.png"></div>
                <div class="service_mid2">指挥调度系统</div>
                <div class="service_right2">实现指挥台与事件现场的紧密协同。</div>  
            </div>
            <div class="service_list">
                <div class="service_left2"><img src="/media/img/cbpt_img04.png"></div>
                <div class="service_mid2">重点事件分析系统</div>
                <div class="service_right2">通过观点比对、热词提取、情感曲线等数据分析工具，帮助多角度认知新闻事件。</div>  
            </div>
            <div class="service_list">
                <div class="service_left2"><img src="/media/img/cbpt_img05.png"></div>
                <div class="service_mid2">资源中心</div>
                <div class="service_right2">为采编人员提供丰富的创作素材、背景知识等。</div>  
            </div>
            <div class="service_list">
                <div class="service_left2"><img src="/media/img/cbpt_img06.png"></div>
                <div class="service_mid2">灵活采编系统</div>
                <div class="service_right2">分渠道独立采编发、多渠道融合编审签。</div>  
            </div>
            <div class="service_list">
                <div class="service_left2"><img src="/media/img/cbpt_img07.png"></div>
                <div class="service_mid2">智能化编辑功能</div>
                <div class="service_right2">敏感词检验、在线校对、自动摘要、创作轴、主题延展、稿件背景。</div>  
            </div>
            <div class="service_list">
                <div class="service_left2"><img src="/media/img/cbpt_img08.png"></div>
                <div class="service_mid2">移动采编</div>
                <div class="service_right2">在手机端即可体验PC端所有的采编功能，随时随地报题选题、视频直播。</div>  
            </div>
    		<div class="service_list">
                <div class="service_left2"><img src="/media/img/cbpt_img09.png"></div>
                <div class="service_mid2">传播影响力分析系统</div>
                <div class="service_right2">以用户为核心的传播力指数考核评价体系，从阅读、互动、转载等指标维度，微新闻产品传播效果评估和绩效考核提供明确量化指标。</div>  
            </div>
            <div class="service_list">
                <div class="service_top_text">
                    <div class="text3">媒体资源中央数据库</div>
                    <div class="text4">通过建设中央资源数据库，对全媒体大数据的资源进行采集，对采集到的海量全媒体数据进行分布式存储、高效检索、智能分析，从而为后续各类应用系统的建设提供底层数据、技术支持，并进行全媒体大数据平台的分层级多维度的数据查询与关联使用。</div>
                    <div class="text4">按逻辑划分为：数据交换平台、全文检索平台、资料管理平台、系统管理平台以及其它扩展平台。</div>
                </div>
            </div>
            <div class="service_list">
                <img class="img4"  src="/media/img/service_img9.jpg">
            </div>
            <div class="service_list">
                <img class="img4"  src="/media/img/service_img10.jpg">
            </div>
    	</div>
    </div>
	</div>
	{% include 'foot.html' %}


    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/pop.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.head').find('.service').addClass('active');
        })


    </script>



</body>
</html>