<!DOCTYPE html>
<html>
<head>
	<title>CMS管理系统</title>
	<link rel="stylesheet" type="text/css" href="/static/css/head.css">
	<link rel="stylesheet" type="text/css" href="/static/css/cms.css">
	<!-- <link rel="stylesheet" type="text/css" href="/static/css/login.css"> -->
</head>
<body>
	{% include 'head.html' %}
	<div class="cms_box">
		<div class="container">
			<div class="cms_left">
				
			</div>
			<div class="cms_right">
				
			</div>
			
		</div>
	</div>



	<script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/pop.js"></script>
</body>
</html>